body {
  font-family: 'Segoe UI', sans-serif;
  background: #0b0c10;
  color: #c5c6c7;
  margin: 0;
  padding: 20px;
}

header {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: #66fcf1;
  margin-bottom: 25px;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

button {
  background-color: #45a29e;
  color: #0b0c10;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #66fcf1;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.chart-section {
  background: #1f2833;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(102, 252, 241, 0.1);
}

.chart-section h2 {
  color: #66fcf1;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #0b0c10;
  border-radius: 8px;
  padding: 10px;
}

#protocolChart {
  max-width: 250px;
  max-height: 250px;
}

#rateChart {
  max-width: 700px;
  max-height: 350px;
}

#topSrcChart {
  max-width: 700px;
  max-height: 350px;
}

.table-section {
  background: #1f2833;
  padding: 20px;
  border-radius: 10px;
}

.table-section h2 {
  color: #66fcf1;
  text-align: center;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #1f2833;
  border-radius: 6px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #45a29e;
}

th {
  background-color: #45a29e;
  color: #0b0c10;
}
